@model IEnumerable<Signally.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<h2>Orders</h2>
<div class="container-fluid">
    <form asp-controller="Orders" asp-action="Index" method="get" class="col-sm-6">
        Search by Order # <input type="text" name="searchString">
        <input type="submit" value="Search" />
    </form>
    <form asp-controller="Orders" asp-action="Index" method="get" class="col-sm-6">
        Search by Customer <input type="text" name="searchStringCustomer">
        <input type="submit" value="Search" />
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CSR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePlaced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rush)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Install)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CSR.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePlaced)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rush)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Install)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.OrderId" asp-controller="OrderItems">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                    <a asp-action="Create" asp-route-id="@item.OrderId" asp-controller="OrderItems">Add Line Item</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
