@model Signally.Models.EditOrderItemViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Line Item</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.OrderItem.OrderItemId" />
            <div class="form-group">
                <input type="hidden" asp-for="@Model.OrderItem.OrderId" class="form-control" asp-items="Model.OrderItem.OrderId">
                <span asp-validation-for="@Model.OrderItem.OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OrderItem.TypeId" class="control-label"></label>
                <select asp-for="@Model.OrderItem.TypeId" class="form-control" asp-items="@Model.Type"></select>
                <span asp-validation-for="@Model.OrderItem.TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OrderItem.Quantity" class="control-label"></label>
                <input asp-for="@Model.OrderItem.Quantity" class="form-control" />
                <span asp-validation-for="@Model.OrderItem.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OrderItem.Height" class="control-label"></label>
                <input asp-for="@Model.OrderItem.Height" class="form-control" />
                <span asp-validation-for="@Model.OrderItem.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OrderItem.Width" class="control-label"></label>
                <input asp-for="@Model.OrderItem.Width" class="form-control" />
                <span asp-validation-for="@Model.OrderItem.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.OrderItem.Price" class="form-control" />
                <span asp-validation-for="@Model.OrderItem.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OrderItem.Content" class="control-label"></label>
                <input asp-for="@Model.OrderItem.Content" class="form-control" />
                <span asp-validation-for="@Model.OrderItem.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Line Items</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
