@model IEnumerable<Signally.Models.OrderItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Line Items For Order @Model.FirstOrDefault().OrderId</h2>

<p>
    <a asp-action="Create" asp-route-id="@Model.FirstOrDefault().OrderId" asp-controller="OrderItems">Add Line Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height) inches
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width) inches
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderItemId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index" asp-controller="Orders">Back to Orders</a>
</div>