@model Signally.Models.DetailsProductionViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details for Order @Model.OrderId</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderItemCollection[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItemCollection[0].Type.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItemCollection[0].Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItemCollection[0].Width)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var orderItem in Model.OrderItemCollection)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => orderItem.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orderItem.Type.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orderItem.Height) inches
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orderItem.Width) inches
                </td>
            </tr>
        }
    </tbody>
</table>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.OrderId">Mark As Built</a> |
                <a asp-action="Index">Back to List</a>
            </div>
