@model Signally.Models.EditProductionViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Order</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Order.OrderId" />
            <div class="form-group">
                <input type="hidden" asp-for="@Model.Order.CSRId" class="form-control" />
                <span asp-validation-for="@Model.Order.CSRId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.Order.CustomerId" class="form-control" />
                <span asp-validation-for="@Model.Order.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.Order.DatePlaced" class="form-control" />
                <span asp-validation-for="@Model.Order.DatePlaced" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.Order.DateDue" class="form-control" />
                <span asp-validation-for="@Model.Order.DateDue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="@Model.Order.StatusId" class="form-control" asp-items="@Model.Status"></select>
                <span asp-validation-for="@Model.Order.StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                        <input type="hidden" asp-for="@Model.Order.Rush" /> 
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                        <input type="hidden" asp-for="@Model.Order.Install" />
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.Order.Price" class="form-control" />
                <span asp-validation-for="@Model.Order.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Orders in Production</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
