@model IEnumerable<Signally.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Orders in Production</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CSR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePlaced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rush)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Install)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CSR.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePlaced)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rush)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Install)
                </td>
                <td>
                    <a asp-action="MarkAsBuilt" asp-route-id="@item.OrderId" asp-controller="Production">Mark As Built</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
